body {
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-optical-sizing: auto;
}

.navbar {
  background: #5d301d;
  padding-left: 80px;
  padding-right: 80px;
}

.navbar-collapse {
  background-color: #5d301d;
  flex-direction: row-reverse;
  padding: 16px;
  border-radius: 4px;
}

@media (min-width: 992px) {
  .nav-link {
    border-right: 1px white solid;
    width: min-content;
    padding: 0;
    padding-right: 16px !important;
  }
}

.img-container {
  height: 180px;
  overflow: hidden;
}

.imglogo {
  width: 150px !important;
  height: 180px;
  object-fit: cover;
}

header.welcome {
  padding: 8px;
  background-color: #a8664a;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

main {
  width: 100%;
  height: 100%;
}
.menu {
  padding: 28px 80px;
  background-color: #a8664a;
}
.menu.grid {
  display: grid;
  grid-template-columns: 1fr 220px;
  grid-template-rows: 1fr;
  padding: 28px 80px;
  background-color: #a8664a;
  gap: 12px;
}

.more {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: black !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  font-size: 13px;
}

.sub-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #5d301d;
  font-optical-sizing: auto;
  font-weight: 600;
}

p {
  color: aliceblue;
}

.about {
  max-width: 800px;
}
.direitos {
  color: black;
}

footer {
  width: 100%;
  padding: 16px 80px;
}

.inicio {
  background-color: #5d301d;
  border-radius: 15px;
  padding: 16px;
}
