.row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.accordion {
  width: 800px;
}

.imgnos {
  width: 300px;
  height: auto;
  object-fit: contain;
}

.direitos {
  color: black;
}
